@import url('http://fonts.cdnfonts.com/css/robert-sans');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Robert Sans', sans-serif;                                         
}
.wrapper{
    display: flex;
    background: linear-gradient(to right, #673ab7, #512da8);
}
.right-side{
    width: 60%;
    max-height: 100vh;
    border-left: 1px solid rgb(221, 211, 211);
    position: relative;
}

.separate-event-from-trash {
    height: 55%;
    width: 90%;
    margin: 136px 0;
    border: 1px solid linear-gradient(to right, #005c97, #363795);
}

.scroll-y {
    overflow-y: scroll;
}

.right-side > h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
}

.right-side .event-wrapper{
    display: flex;

    height: 115px;
    margin: 0 auto;
    width: 60%;
    margin-top: 10px;
    cursor: pointer;
    
}

.separate-event-from-trash {
    position: relative;
    z-index: 2;
}
.event-wrapper, .event-wrapper *{
    border-radius: 3px;
}
.right-side  .time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: linear-gradient(to right, #005c97, #363795); */
    background: linear-gradient(to right, #a044ff, #6a3093);
    text-align: center;
    flex: 1;
    color: white;
    font-size:30px;
}
.right-side  .event-name{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: white;
    font-size: 30px;
    border: 1px solid wheat;
    overflow-x: scroll;
}

.trash{
    position: absolute;
    z-index: 2;
    bottom: 20px;
    right: 1rem;
    width: 7.1rem;
    text-align: center;
}

.trash i{
    font-size: 6rem;
    color: rgb(196, 219, 196);
}


.clear-local {
    display: inline-block;
    position: sticky;
    z-index: 2;
    top: 100%;
    left: 100%;
    width: 7.1rem;
    text-align: center;
    cursor: pointer;
}

.clear-local i{
    font-size: 7rem;
}

.condition{
    background-color: rgb(216, 20, 151);
}

.left-side * {
    border-radius: 3px;
}
.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right, #b24592, #f15f79); */
    width: 40%;
    padding: 30px 0;
    height: 100vh;
}
h2{
    color: white;
    text-align: center;
}
.form-holder{
    position: relative;
    z-index: 2;
    background: linear-gradient(to right, #9d50bb, #6e48aa);
    
    color: #fff;
    width: 80%;
    height: 65%;
    padding: 30px 5px;
    
}
.input-title{
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

form label{
margin: 3px 0;
color: black;
text-align: center;
}
.input-title>input, .input-title>textarea{
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 5px;
}
.input-date{
    display: flex;
    flex-direction: column;
}
.date-inputs-holder>input{
    margin: 7px;
}
.date-inputs-holder{
    margin: 0 auto;
}
button{
    margin: 30px auto;
    /* align-self: center; */
    width: 30%;
    padding: 5px;
    /* #6a3093 */
    background-color: blueviolet;
    color: white;
    border: 1px solid rgb(154, 154, 190);
    /* background-color: wheat; */
    
}

button:hover{
    border: 1px solid rgb(133, 133, 170);
}

button:active{
    background-color: rgb(158, 127, 207);
}

/* COUNTDOWN */

.blurred {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    transition-property:backdrop-filter;
    transition-duration: 200ms;
    /* background-color: red; */
}

.blur-on {
    backdrop-filter: blur(5px);
}

section {
    position: absolute;
    width: 80%;
    height: 80%;
    transform: translateY(-130%);
    background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    padding: 2rem 0;
    border-radius: 8px;
    transition-property: top,transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(.17,.67,.04,1.31);
}

.countdown {
    transform: initial;
}

.timer-title {
    font-size: 5rem;
    text-align: center;
}

.timer-description {
    font-size: 2rem;
    text-align: center;
}

.timer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

.x-button {
    display: inline-block;
    /* border: 1px solid wheat; */
    /* border-radius: 50%; */
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    transition-property: border, color;
    transition-duration: 300ms;
}

.x-button:hover {
    color: rgb(224, 111, 206);
}